<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
    <meta content="">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center front-banner">ConnectIN</div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-md-6">
            <h3 class="dark-grey">Bienvenido!</h3>
            <p>ConnectIn es tu red profesional con la que podrás mostrar tus habilidades y tu historia profesional.</p>
            <p>...</p>

        </div>

        <div ng-controller="SignupController" class="col-md-6">
            <h3 class="dark-grey">Regístrate!</h3>
            <form ng-submit="signup(credentials)">
                <div class="form-group col-lg-12">
                    <label>Dirección de correo</label>
                    <input type="email" ng-model="credentials.username" class="form-control" required>
                </div>

                <div class="form-group col-lg-6">
                    <label>Contraseña</label>
                    <input type="password" ng-model="credentials.password" class="form-control" required>
                </div>

                <div class="form-group col-lg-6">
                    <label>Repetir contraseña</label>
                    <input type="password" ng-model="credentials.passwordVerify" class="form-control" value="">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>

    </div>

</div>
</body>
</html>